.git
.github
.next
.turbo
.test-dist
coverage
dist
node_modules
storybook-static
test-results

**/.next
**/.turbo
**/.test-dist
**/coverage
**/dist
**/node_modules
**/storybook-static

*.log
*.tsbuildinfo

apps/api/data
data
docs/assets

